@use "variables" as variables;


.encabezado-faq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: variables.$verde-oscuro;

    img {
    height: 70px;
    }

    nav {
    ul {
        list-style: none;
        display: flex;
        gap: 20px;

        li {
        a {
            text-decoration: none;
            color: variables.$blanco;
            font-weight: 500;
            position: relative;
            transition: color 0.3s ease, transform 0.3s ease;

            &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 0;
            height: 2px;
            background-color: variables.$verde-acento;
            transition: width 0.3s ease;
            }

            &:hover {
            color: variables.$verde-acento;
            transform: scale(1.05);

            &::after {
                width: 100%;
            }
            }
        }
        }
    }
    }
}



main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    box-sizing: border-box;

    h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: variables.$verde-oscuro;
    font-family: variables.$fuente-titulos;
        }


    section {
    background-color: variables.$blanco;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 10px;

    h3 {
        margin-bottom: 10px;
        color: variables.$verde-oscuro;
        font-family: variables.$fuente-titulos;
    }

    p {
        line-height: 1.6;
    }
    }
}



footer {
    background-color: variables.$verde-oscuro;
    color: variables.$blanco;
    padding: 30px 20px;
    margin-top: 60px;

    nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        justify-content: center;
        gap: 25px;
        margin-bottom: 20px;

        li {
        a {
            img {
            width: 35px;
            }
        }
        }
    }
    }

    div {
    text-align: center;
    font-size: 0.9rem;
    }
}


@media (max-width: 768px) {
    .encabezado-faq {
    flex-direction: column;
    gap: 15px;
    }
}


footer {
    background-color: variables.$verde-oscuro;
    color: variables.$blanco;
    padding: 30px 20px;
    margin-top: 60px;

    nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        justify-content: center;
        gap: 25px;
        margin-bottom: 20px;

        li {
        a {
            img {
            width: 35px;
            }
        }
        }
    }
    }

    div {
    text-align: center;
    font-size: 0.9rem;
    }
}



body {
    font-family: variables.$fuente-body;
}

html,
body {
    overflow-x: hidden;
}


@media (max-width: 768px) {
    .encabezado {
    flex-direction: column;
    gap: 15px;
    }

    main section {
    grid-template-columns: 1fr;
    text-align: center;

    p {
        text-align: left;
    }
    }
}
