$fuente-body: 'Roboto', sans-serif;
$fuente-titulos: 'Limelight', cursive;

$verde-oscuro: #3f4f3c;
$verde-claro: #6b7a3a;
$verde-hover: #55662c;
$verde-acento: #cdd6a0;

$blanco: #ffffff;
$texto-principal: #073d15;
$fondo-body: #f4f1ec;
$borde-input: #e2e2e2;



$mobile: 768px;

$mobile: 768px;