
@use "variables";
@use "reset";


@use "index";
@use "contactos";
@use "sobre";
@use "combos";
@use "faq";
@use "estetica";



@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&family=Limelight&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

